<div class="row">
    <div class="col-md-5 mx-auto">
    <div class="card mt-4">
    <div class="card-header">
        <h3>Ingrese sus Datos para la Facturación</h3>
    </div>
    <div class="card-body">
        <form action="/compras/facturacion" method="POST">
            <div class="mt-3">
                <input type="text" name="nombre" class="form-control" placeholder="Nombre" autofocus>
            </div>
            <div class="mt-3">
               <input type="text" name="cedula" class="form-control" placeholder="Cédula" autofocus>
            </div>
            <div class="mt-3">
               <input type="text" name="direccion" class="form-control" placeholder="Dirección" autofocus>
            </div>
            <div class="mt-3">
               <input type="text" name="telefono" class="form-control" placeholder="Teléfono" autofocus>
            </div>
            <div class="mt-3">
               <input type="text" name="cantidad" class="form-control" placeholder="Cantidad de productos" autofocus>
            </div>
            <div class="mt-3">
                <button class="btn btn-primary w-100" type="submit">
                    CONFIRMAR
                </button>
            </div><br>
        </form>
    </div>
</div>
</div>
</div>