<div class="card d-flex flex-row align-items-center">
  <img src="https://www.axiomafv.com/wp-content/uploads/2017/11/prediccion-de-ventas-700x433.jpg" class="rounded float-start" />
  <div class="card-body1">
      <h3>PREDICCIÓN DE VENTAS</h3><br>
    <p class="card-text1">
      Gracias a tareas inteligentes (Regresión) por parte de Machine Learning, se puede predecir el monto de ventas que se tendrá
      según el numero de productos y el monto de compras.
    </p><br>
    <a href="/compras/predicts" class="btn btn-primary">PREDECIR VENTAS</a><br><br>
    <a href="/prediccion_ventas" class="btn btn-primary">VER TUS PREDECICCIONES DE VENTAS</a>
  </div>
</div><br><br>
<div class="card d-flex flex-row align-items-center">
  <img src="/img/compras.jpg" class="rounded float-start" />
  <div class="card-body1">
      <h3>PREDICCIÓN DE COMPRAS</h3><br>
    <p class="card-text1">
      Gracias a tareas inteligentes (Regresión) por parte de Machine Learning, se puede predecir el monto de compras que se tendrá
      según el numero de productos y el monto de ventas.
    </p><br>
    <a href="/compras/predict_compras" class="btn btn-primary">PREDECIR COMPRAS</a><br><br>
    <a href="/prediccion_compras" class="btn btn-primary">VER TUS PREDICCIONES DE COMPRAS</a>
  </div>
</div>
