<div class="card d-flex flex-row align-items-center">
  <img src="https://codingyaar.com/wp-content/uploads/bootstrap-4-card-image-left-demo-image.jpg" class="rounded float-start" />
  <div class="card-body1">
      <h3>PREDICCIÓN DE VENTAS</h3>
    <p class="card-text1">
      Some quick example text to build on the card title and make up the
      bulk of the card's content.
    </p>
    <a href="/compras/predicts" class="btn btn-primary">PREDECIR VENTAS</a>
  </div>
</div><br><br>
<div class="card d-flex flex-row align-items-center">
  <img src="https://codingyaar.com/wp-content/uploads/bootstrap-4-card-image-left-demo-image.jpg" class="rounded float-start" />
  <div class="card-body1">
      <h3>PREDICCIÓN DE COMPRAS</h3>
    <p class="card-text1">
      Some quick example text to build on the card title and make up the
      bulk of the card's content.
    </p>
    <a href="/compras/predict_compras" class="btn btn-primary">PREDECIR COMPRAS</a>
  </div>
</div>
