<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card mt-4 text-center">
           <div class="card-header">
                <h3>INICIAR SESIÓN COMO:</h3>
            </div>
            <img src="/img/logo.png" class="" alt="Imagen">
            <div class="card-body">
                <div class="mt-3">
                    <a href="/users/signin" class="btn btn-primary w-100">CLIENTE</a>
                </div><br>
                <h4>O</h4><br>
                <div class="mt-3">
                    <a href="/users/signin-admin" class="btn btn-primary w-100">ADMINISTRADOR</a>
                </div>
            </div>
        </div>
    </div>
</div>

