<div class="row">
    <div class="col-md-4 mx-auto">
    <div class="card">
    <div class="card-header">
        <h3>PREDICCIÓN DE VENTAS</h3>
    </div>
    <div class="card-body">
        <form action="/compras/prediccion_ventas" method="POST">
            
            <div class="mt-3">
                <input type="text" name="ventas1" class="form-control" placeholder="Ingrese número de ventas" autofocus>
            </div>
            <div class="mt-3">
               <input type="text" name="monto_ventas" class="form-control" placeholder="Ingrese monto de compras" autofocus>
            </div>
            <div class="mt-3">
                <button class="btn btn-primary w-100" type="submit">
                    PREDECIR VENTAS
                </button>
            </div>
        </form>
    </div>
</div><br>

</div>
</div>