<div class="row">
    <div class="col-md-4 mx-auto">
    <div class="card mt-4 text-center">
    <div class="card-header">
        <h3>PREDICCIÓN DE COMPRAS</h3>
    </div>
    <div class="card-body">
        <form action="/compras/prediccion_compras" method="POST">
            
            <div class="mt-3">
                <input type="text" name="ventas2" class="form-control" placeholder="Ingrese número de ventas" autofocus>
            </div>
            <div class="mt-3">
               <input type="text" name="monto_compras" class="form-control" placeholder="Ingrese monto de ventas" autofocus>
            </div>
            <div class="mt-3">
                <button class="btn btn-primary w-100" type="submit">
                    PREDECIR COMPRAS
                </button>
            </div>
        </form>
    </div>
</div>
</div>
</div>