<h3>Hola!</h3><br>
<h2>Aqui puede encontrar, algunos de los productos que ofrecemos a la venta.</h2><br><br>
<div class="card d-flex flex-row align-items-center">
  <img src="/img/trece.jpeg" class="rounded float-start" />
  <div class="card-body1">
      <h3>AGUAS FRESCAS DE SÁVILA, LINAZA, HORCHATA Y PANELA</h3><br>
    <p class="card-text1">
      Este producto es un aguita fresca con la combinación de 4 productos, los cuales son sávila, linaza, horchata y panela.
      A tan solo $0.50. 
    </p>
    <p class="card-text1">
      Para comprar este producto primero inicia sesión! 
    </p><br>
    <a href="/users/signin" class="btn btn-primary">INICIAR SESIÓN</a>
  </div>
</div><br><br>
<div class="card d-flex flex-row align-items-center">
  <img src="/img/pronto.jpg" class="rounded float-start" />
  <div class="card-body1">
      <h3>MUY PRONTO!!!</h3><br>
    <p class="card-text1">
      Nuevos productos con nuevos ingredientes.
    </p><br>
    <h2>NO DISPONIBLE AÚN!</h2>
  </div>
</div>
