{{> nave-admin }}
<div class="row">    
        <div class="col-md-7 mx-auto">
            <div class="card mt-4 text-center">
                 <div class="card-header">
                    <h3>El proveedor está encargado de la entrega de los ingredientes necesarios para la preparación de las aguas medicinales.</h3><br>
                 </div>
                <div class="card-body">
                    <a href="https://wa.me/593999396999?text=Me%20gustaría%20hacer%20el%20pedido%20de%20más%20ingredientes." target="_blank" class="btn btn-success">CONTACTAR PROVEEDOR</a><br><br>
                    <h4>NOTA: Al contactar al proveedor directamente desde esta página se realiza un buen gestionamiento de compras.</h4>
                </div>
            </div>
        </div>    
</div>
