<div class="card">
    <div class="card-body">
        <h1>ABOUT</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore, hic voluptates. Aperiam consectetur dolore eos dolores delectus, consequatur dignissimos beatae.</p>
    </div>
</div>