<div class="p-5 mb-4 bg-light text-dark rounded-3">
    <div class="container-fluid py-5">
        <h3>COLORADO'S WATER</h3>
            <br><br>
            <div class="about-imag">
			<img src="/img/th.jpg" alt=""/>
			</div>
            <div class="about-text">
					<p>Somos una miniempresa dedicada a la venta de aguas medicinales, </p> <br>
					<p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh </p> <br>
                    <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh </p> <br>
                    <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh </p> <br>
                    <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh </p> <br><br><br>
			</div>
        <a href="#" class="btn btn-primary btn-lg">COLORADO´S WATER</a>
    </div>
</div>