<div class="p-5 mb-4 bg-light text-dark rounded-3">
    <div class="container-fluid py-5">
        <h3>COLORADO'S WATER</h3>
            <br><br>
            <div class="about-imag">
			<img src="/img/veinti.jpeg" alt=""/>
			</div>
            <div class="about-text">
					<p>Somos una miniempresa dedicada a la venta y distribución de aguas frescas y </p> <br>
					<p>medicinales, ofrecemos productos que ayudan a la salud de tu cuerpo y el </p> <br>
                    <p>bienestar de tu mente. </p> <br>
                    <p>El propósito de esta página es facilitar la venta de nuestras aguas, llegando </p> <br>
                    <p>así a muchas más personas dentro y fuera de la ciudad.</p> <br><br><br><br><br><br><br>
			</div>
        <a href="/about" class="btn btn-primary btn-lg">CONÓCENOS MÁS!</a>
    </div>
</div>