body {
    background: #cb2d3e;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ef473a, #cb2d3e);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ef473a, #cb2d3e);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Open Sans', sans-serif;
}

.logo {
    width: 10%;
}

* {
    margin: 0;
    padding: 0;
}

.card1 {
    flex-direction: row;
    align-items: center;
}

.card-title1 {
    font-weight: bold;
}

.card1 img {
    width: 30%;
    border-top-right-radius: 0;
    border-bottom-left-radius: calc(0.25rem - 1px);
}

@media only screen and (max-width: 300px) {
    a1 {
        display: none;
    }
    .card-body1 {
        padding: 0.5em 1.2em;
    }
    .card-body1 .card-text1 {
        margin: 0;
    }
    .card1 img {
        width: 50%;
    }
}

@media only screen and (max-width: 1200px) {
    .card1 img {
        width: 40%;
    }
}