<h3>ACERCA DE NOSOTROS</h3>
			<div class="about-imag">
			<img src="/img/dueño.jpeg" alt=""/>
			</div>
			<div class="about-text">
					<p>Hola mi nombre es Luis Campoverde, es un honor para mi y para mi miniempresa que estés en esta página, la cuál la hemos creado con el propósito de poder llevar a muchas más personas la información a cerca de nuestro producto, en este caso ofrecemos aguitas frescas y medicinales que es de gran ayuda para la salud de tu cuerpo y tener ese bienestar que tanto añoramos.</p><br>
					<p>En la siguiente sección se podrá observar todos los ingredientes principales que contiene nuestras aguas y el porcentaje que se usa de cada ingrediente.</p><br>
					<p>También podrá observar algunos de nuestros ingredientes medicinales con sus porcentajes de efectividad que si el cliente gusta, puede hacer uso de ellos, recordar que son para la salud de tu cuerpo.</p><br><br><br><br><br><br><br><br>
			</div>
			<div class="clearfix"></div>
			</div>
			<div class="about-imag">
			<img src="/img/cua.jpeg" alt=""/>
			</div><br>
			<H4>INGREDIENTES PRINCIPALES</H4>
			<div class="about-sectiongrids">
				<div class="col-md-6 about-leftgrid">
					<div class="polls">
					<div class="poll">
						<div class="poll-desc">
							<h4>SÁVILA</h4>
						</div>
						<div class="percentage">
							<p>35%</p>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="skills">
			              	<div style="width:35%"> </div>
	                      </div>
	                      </div>
	                      <div class="polls">
					<div class="poll">
						<div class="poll-desc">
							<h4>LINAZA</h4>
						</div>
						<div class="percentage">
							<p>40%</p>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="skills">
			              	<div style="width:40%"> </div>
	                      </div>
	                      </div>
	                      <div class="polls">
					<div class="poll">
						<div class="poll-desc">
							<h4>HORCHATA</h4>
						</div>
						<div class="percentage">
							<p>15%</p>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="skills">
			              	<div style="width:15%"> </div>
	                      </div>
	                      </div>
	                      <div class="polls">
					<div class="poll">
						<div class="poll-desc">
							<h4>PANELA</h4>
						</div>
						<div class="percentage">
							<p>10%</p>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="skills">
			              	<div style="width:10%"> </div>
	                      </div>
	                      </div><br><br><br><br><br>

	</div>
	<div class="about-imag">
			<img src="/img/ocho.jpeg" alt=""/>
			</div>
	<div class="col-md-6 about-rightgrid">
		<div class="polls">
					<div class="poll">
						<H4>INGREDIENTES ADICIONALES</H4><br><br>
						<div class="poll-desc">
							<h4>MASHUA PARA LA PROSTATA</h4>
						</div>
						<div class="percentage">
							<p>75% DE EFECTIVIDAD</p>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="skills">
			              	<div style="width:75%"> </div>
	                      </div>
	                      </div>
	                      <div class="polls">
					<div class="poll">
						<div class="poll-desc">
							<h4>AGUA DE BERBENA PARA EL ESTÓMAGO</h4>
						</div>
						<div class="percentage">
							<p>65% DE EFECTIVIDAD</p>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="skills">
			              	<div style="width:65%"> </div>
	                      </div>
	                      </div>
	                      <div class="polls">
					<div class="poll">
						<div class="poll-desc">
							<h4>PURGANTES PARA LIMPIEZA INTESTINAL</h4>
						</div>
						<div class="percentage">
							<p>85% DE EFECTIVIDAD</p>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="skills">
			              	<div style="width:85%"> </div>
	                      </div>
	                      </div>
	                      <div class="polls">
					<div class="poll">
						<div class="poll-desc">
							<h4>VOLDO PARA EL HIGADO</h4>
						</div><br>
						<div class="percentage">
							<p>55% DE EFECTIVIDAD</p>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="skills">
			              	<div style="width:55%"> </div>
	                      </div>
	                      </div>
		</div>