<nav class="cl-effect-5">
				<li><a class="active" href="/"><span data-hover="Home">Home</span></a></li>
				<li><a class="nav-link" href="/about"><span data-hover="Con贸cenos">Con贸cenos</span></a></li>
                {{#if user}}
				<li><a href="/compras/predict" class="nav-link"><span data-hover="No vale">Predecir</span></a></li>
				<li><a href="/productos" class="nav-link"><span data-hover="services">Ver Productos</span></a></li>
				<li><a href="/compras" class="nav-link"><span data-hover="contact">Ver Facturas</span></a></li>
                <li><a href="/users/logout" class="nav-link"><span data-hover="contact">Cerrar Sesi贸n</span></a></li>
                {{else}}
                <li><a href="/users/signup" class="nav-link"><span data-hover="contact">Registrarse</span></a></li>
                <li><a href="/users/signin" class="nav-link"><span data-hover="contact">Iniciar Sesi贸n</span></a></li>
                {{/if}}
				</nav>