<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/usuarios">VER USUARIOS</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/facturas">VER FACTURAS</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/proveedor">PROVEEDOR</a>
  </li>
</ul>