<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card mt-4 text-center">
            <div class="card-header">
                <h1>INICIAR SESIÓN</h1>
                <h1>ADMINISTRADOR</h1>
            </div>
            <img src="/img/logo.png" class="" alt="Imagen">
            <div class="card-body">
                <form action="/users/signin-admin" method="POST">
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" placeholder="Ingrese su correo electrónico" autofocus>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="Ingrese su contraseña" autofocus>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary w-100">
                            INGRESAR
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>